body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image : url('https://secure.img1-fg.wfcdn.com/im/90674409/resize-h800%5Ecompr-r85/1143/114377740/Royalty+18%2522+x+18%2522+Ceramic+Patterned+Wall+%2526+Floor+Tile.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: rgb(0, 3, 3);
}
.title, .addDancerButton, .addDancersButton, .lineUpButton, .disperseButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #4CAF50;
}
.title{
  background-color: #777;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 8px 0px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.blinkyDancer {
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.blinkyDancer {
  display: flex;
  justify-content: space-around;
}

.cheesyDancer:hover {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid yellow;
  position:absolute;
}
.cheesyDancer {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid green;
  position:absolute;
}

.answerDancer {
  background-color: rgb(107, 98, 238);
  height: 44px;
  width: 44px;
  border-radius:0px;
  position:absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 22px;
  font-weight: bolder;
}

.prancerDancer {
  content: url("https://images.vexels.com/media/users/3/128634/isolated/preview/c5d84b48dde7a82c99b938766011f19d-reindeer-running-flat-icon-by-vexels.png");
  width: 44px;
  position: absolute;
}